<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    
    <%- include('navbar', page = "addContact"); %> 
    <form action="/add" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Enter Your First Name" required><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required><br>
        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>