

<ul>
    <li><a href="/" style="<%= (page == 'home') ? 'background-color: aquamarine;' : '' %>">Home</a></li>
    <li><a href="/addContact" style="<%= (page == 'addContact') ? 'background-color: aquamarine;' : '' %>">Add Contact</a></li>
</ul>