body{
    font-family: 'Lato', sans-serif;

}
table{
    color: #333333;
    border-spacing: none;
    text-align: center;
    border: none;
}
th{
    color: #ffffff;
    Background-color: #90b4d6;
    text-align : center;
    letter-spacing : 2px
   

}
td{
    padding: 5px 30px 5px 10px;
    size: 18px;
    margin: 0px;
    text-align: left;
    width: 150px;
    border: none;
}
.Green{
    background-color: #84b3ad;
}
.Blue{
    background-color: #90b4d6;  
}

